@font-face {
	font-family: "PT Sans Narrow";
	src: local("PT Sans Narrow"), local("PTSans-Narrow"),
			 url("ptsansnarrow.woff2") format("woff2"),
			 url("ptsansnarrow.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans Narrow Bold";
	src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
			 url("ptsansnarrowbold.woff2") format("woff2"),
			 url("ptsansnarrowbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

body {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.section-title,
.page-title {
	font-size: 30px;
	line-height: 42px;
}

.catalog-title {
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
}

.catalog-item-title {
	text-transform: uppercase;
}

.product-composition {
	font-size: 24px;
	line-height: 30px;
}

.login-title {
	font-size: 30px;
	line-height: 1.2;
}